asgiref
Django==5.0.6
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
mysqlclient
djoser
pdfplumber
ai21
python-dotenv 
django_extensions
unidecode
