/* body{
padding: 8px;
background-color: #dee8f7;

}

.sidenavbar .h-full{
    background-color: #000814;
    border-radius: 10px;
    height: 98%;
    position: fixed;
    width: 250px;
  
}

.content{
    margin-left: 260px; 
    padding: 16px; 
}

.active{
    background-color: rgb(180, 177, 177);
  
}
 */


 body{
    margin:0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #f4f4f4;


   
 }

 .Sidebar{
    padding-top: 70px;
    height: 100%;
    width: 200px;
    background-color: #02022a;
    position: fixed;

    font-size: 14px;
 }



.content{
    margin-left: 200px; 
    padding: 32px; 
    padding-top: 80px ;
}

@media (max-width: 768px) {
    .Sidebar {
        display: none;
    }
    .content{
        margin-left: 0px; 
    }
}
/* 
.content{

    padding: 16px; 
    padding-left: 30px;
    padding-right: 30px;
} */


.SidebarList{
    height: auto;
    width: 100%;
    padding: 0;
   
}

.SidebarList .row{
 width: 100%;
 height: 50px;

 list-style-type: none;
 margin: 0;
 display: flex;
 color: rgb(190, 190, 190);
 justify-content: center;
 align-items: center;
 font-weight: 500;


}

/* .SidebarList .row:hover{
    cursor: pointer;
    background-color: #203246;
} */

.SidebarList .row:hover{
    cursor: pointer;
  color: #ffffff;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}
.row #title{
    flex: 70%;
}

/* #active{

    background-color: black;
    border-left: 5px solid #FFD60A;
} */

#active{

   color: #fffafa;
   background: #e5ad06;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   width: 98%;
}